<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadJS">

<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/jquery-ui/1.9.1/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/h-ui/js/H-ui.js}"></script>
<script type="text/javascript">
	Date.prototype.Format = function (fmt) {  
	    var o = {  
	        "M+": this.getMonth() + 1, //月份   
	        "d+": this.getDate(), //日   
	        "H+": this.getHours(), //小时   
	        "m+": this.getMinutes(), //分   
	        "s+": this.getSeconds(), //秒   
	        "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
	        "S": this.getMilliseconds() //毫秒   
	    };  
	    if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));  
	    for (var k in o)  
	    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));  
	    return fmt;  
	}  
	function Page(){};
	$.extend(Page.prototype,{
		init:function(){
			this.bindEvents();
		},
		footerFixedEvent:function(){
			//
			/* if($(document.body).outerHeight(true)<767){				
				$(".footer").attr({"style":"position:fixed;bottom:0px"});
			}else{				
				$(".footer").removeAttr("style");
			} */
		},
		bindEvents:function(){
			var _this = this;
			//返回首页
			$.Huitotop();
			/*左右滑动菜单*/
		    /* $(".JS-nav-toggle").click(function() {
				$("body").addClass('sideBox-open');
		        $(".containBox-bg").height(_bodyHeight).show();
		    });
		    $(".containBox-bg").click(function() {
				$(this).hide();
				$("body").removeClass('sideBox-open');
		    }); */
			//Echart
			var _pageObject = this;
			$.ajaxSetup({
				cache: false,
		        timeout: 600000,
				beforeSend:function(){
					_pageObject.openEchartLoadingEvent();
				},
				complete:function(data){
					_pageObject.closeEchartLoadingEvent();
				},
				error:function(xhr, textStatus, error){
					_pageObject.closeEchartLoadingEvent();
					//console.info(e);
					///alert(e.statusText);
					///alert(e.responseText);
				}
			});
		},
		handleAjaxError:function( xhr, textStatus, error){
			if ( textStatus === 'timeout' ) {  
		        alert( 'The server took too long to send the data.' );  
		    }else {  
		        alert( 'An error occurred on the server. Please try again in a minute.' );  
		    }	
			layer.alert(xhr.responseText); 
		    //$('.dataTable').dataTable().fnProcessingIndicator( false );  
		},
		openEchartLoadingEvent:function(data){
			$("[data-dom='echarts']").each(function(){
				var echartInstance = echarts.getInstanceByDom($(this)[0]);
				if(echartInstance != null){
					echartInstance.showLoading();
				}
			});
		},
		closeEchartLoadingEvent:function(data){
			$("[data-dom='echarts']").each(function(){
				var echartInstance = echarts.getInstanceByDom($(this)[0]);
				if(echartInstance != null){
					echartInstance.hideLoading();
				}
			});
		},
		waterMarkEvent:function(data){//水印
			var waterMarkText = 'RING'+new Date().Format("yyyyMMdd");
			var canvas = document.createElement('canvas');
			var ctx = canvas.getContext('2d');
			
			//canvas.width = canvas.height = 100;
			
			canvas.width = 118;
			canvas.height = 140;
			
			ctx.textAlign = 'center';
			ctx.textBaseline = 'middle';
			ctx.globalAlpha = 0.08;
			ctx.font = '20px Microsoft Yahei';
			ctx.translate(60, 60);
			ctx.rotate(-Math.PI / 4);
			ctx.fillText(waterMarkText,0,0);
			
			return canvas;
		},
		ajaxLoadSelectEvent:function(option){//下拉框异步加载数据 
			//data = {select:"#fid",url:/*[[@{/model/change}]]*/,def:{"key":"","value":"选择模块"},
			//map:{"key":"model","value":"modelName"},attrs:[{"key":"data-url","value":"modelUrl"}],
			//selected:"",
			//data:{"source":$("#source").val()},events:function(){}}
			var _source = $(option.select).html("");
			$("<option>")
			.attr({"value":option.def.key})
			.text(option.def.value)
			.appendTo(_source);
			var _attrs = option.attrs;
			$.post(option.url,option.data,function(data){
				$.each(data,function(i,json){
					var _option = $("<option>")
					.attr("value",json[option.map.key])
					.text(json[option.map.value])
					.appendTo(_source);
					for(var a in _attrs){
						_option.attr(_attrs[a].key,json[_attrs[a].value]);
					}
				});
				if( option.events!=null && option.events != "undefined"){
					option.events(option);
				}
				if( option.selected!=null && option.selected!= "undefined"){
					$(option.select).val(option.selected);
				}
			});
		},
		echartPieEvent:function(myChart,titleName,data){//饼图
			var option = {
				    backgroundColor: {
				        type: 'pattern',
				        image: page.waterMarkEvent(),
				        repeat: 'repeat'
				    },
				    tooltip: {},
				    title: [{
				        text: titleName,
				        textStyle:{
				        	fontSize:20
				        },
				        subtext: '总计 ' + data.reduce(function (all, key) {
				            return all + key.value*1;
				        }, 0),
				        x: '50%',
				        textAlign: 'center'
				    }],
				    grid: [{
				        top: 50,
				        width: 'auto',
				        bottom: 20,
				        left: 10,
				        containLabel: true
				    }],
				    series: [{
				        type: 'pie',
				        radius: [0, '50%'],
				        center: ['50%', '50%'],
				    	data:data
				    }] 
				};
				if (option && typeof option === "object") {
				    myChart.setOption(option, true);
				}
				
				myChart.on("click",function(param){
					//location.href="/page/list?source=T66Y&fid=7&server=1";
					top.location.href="/page/list?source="+param.data.source+"&fid="+param.data.fid+"&server=1";
				});
		},
		echartBarEvent:function(myChart,titleName,data){//横向柱状图
			var _max = Math.max.apply(null,Object.keys(data).map(function (key) {
                return data[key].value;
            }));
			var _all = data.reduce(function (all, key) {
	            return all + key.value*1;
	        }, 0);
			_max = _max+3000;//X轴步长
			var option = {
			    backgroundColor: {
			        type: 'pattern',
			        image: page.waterMarkEvent(),
			        repeat: 'repeat'
			    },
			    tooltip: {},
			    title: [{
			        text: titleName,
			        textStyle:{
			        	fontSize:20
			        },
			        subtext: '总计 ' + _all,
			        x: '50%',
			        textAlign: 'center'
			    }],
			    grid: [{
			        top: 50,
			        width: 'auto',
			        bottom: 20,
			        left: 10,
			        containLabel: true
			    }],
			    xAxis: [{
			        type: 'value',
			        max: _max,
			        splitLine: {
			            show: false
			        }
			    }],
			    yAxis: [{
			        type: 'category',
			        data: Object.keys(data).map(function (key) {
			            return data[key].name;
			        }),
			        axisLabel: {
			            interval: 0,
			            rotate: 30
			        },
			        splitLine: {
			            show: false
			        }
			    }],
			    series: [{
			        type: 'bar',
			        stack: 'chart',
			        z: 3,
			        label: {
			            normal: {
			                position: 'right',
			                show: true
			            }
			        },
			        data: data
			    }, {
			        type: 'bar',
			        stack: 'chart',
			        silent: true,
			        itemStyle: {
			            normal: {
			                color: '#eee'
			            }
			        },
			        data: Object.keys(data).map(function (key) {
			            return _max-data[key].value;
			        })
			    }]
			};
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
			
			myChart.on("click",function(param){
				top.location.href="/page/list?source="+param.data.source+"&fid="+param.data.fid+"&server=1";
			});
		}
	});
	var page;
	$(function(){
		page=new Page();
		page.init();
	});
</script>

</div>
</body>
</html>