<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="onloadHead(title)">
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<!--[if lt IE 9]>
	<script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
	<script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.min.css}" />
	<!--[if lt IE 9]>
	<link th:href="@{/h-ui/css/H-ui.ie.css}" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--[if IE 6]>
	<script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
	<!-- <style type="text/css">
	.ui-sortable .panel-header{ cursor:move}
	</style> -->
	<title th:text="${title}"></title>
	<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
	<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>

</body>
</html>