<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadDataTables(form,table,url)">
<script type="text/javascript" th:src="@{/lib/datatables/1.10.15/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var table;
	$([[${form}]]).submit(function (event) {/* .find("[type='submit']") */
	   event.preventDefault();
	   if(typeof jQuery.data(this, "init") == 'undefined') {
		   table.fnDraw(true);
		   jQuery.data(this, "init",true);
	   }else{
		   table.fnDraw(false);
	   }
	});	
	function Table(){};
	$.extend(Table.prototype,{
		init:function(){
			$("#addBtn").click(function(){table.showOperPage("添加","add");});
		},
		showOperPage:function(_title,_url){
			layer.open({
		      type: 2,
		      title: _title,
		      shadeClose: true,
		      shade: false,
		      maxmin: true, //开启最大化最小化按钮
		      area: ['800px', '75%'],
		      btn: ['保存', '关闭'],
		      yes: function (index,layero) {
		    	  var iframeWin = window[layero.find('iframe')[0]['name']];
		    	  iframeWin.$("#form_oper").attr("index",index).submit();
		      },
		      content: _url
		    });
		},
		showImgPage:function(_title,_url){
			layer.open({
		      type: 2,
		      title: _title,
		      shadeClose: true,
		      shade: false,
		      maxmin: true, //开启最大化最小化按钮
		      area: ['800px', '75%'],
		      content: _url
		    });
		},
		drawFlag:false,
		fnDraw:function(){
			if(this.drawFlag==false){
				this.drawFlag=true;
				this.bindEvents();
			}else{				
				$([[${table}]]).dataTable().fnDraw(false);
			}
		},
		bindEvents:function(){
			var _aoColumns = [];
		    $([[${table}]]).find("th[data-mDataProp!='']").each(function(){
		    	var dataJson={};
		    	dataJson['mDataProp']=$(this).attr("data-mDataProp");
		    	_aoColumns.push(dataJson);
		    });
			$([[${table}]]).dataTable({
				"bPaginate" : true,
			    "bStateSave" : false,     
			    "bScrollCollapse" : true,   
			    "bLengthChange" : true,   
			    "bFilter" : false,   
			    "bSort" : false,   
			    "bInfo" : true,   
			    "bAutoWidth" : true,  
			    "bJQueryUI" : false,  
			    "bDestroy" : true,  
			    "bDeferRender": true,
			    "bProcessing": true,
			    "bServerSide": true,
			    "sServerMethod":"POST",
				"sAjaxSource" : [[${url}]],
				//"sDom":"<\"H\">rt<\"F\"ifl>p",
				"sDom":'<"top"iflp<"clear">>rt<"bottom"ilp<"clear">>',
				"aoColumns" : _aoColumns,
			    "oLanguage" : {"sUrl":"/lib/datatables/zh_CN.json"},
			     fnServerData:function(sSource,aoData,fnCallback){
			    	$([[${form}]]).find("[name!='']").each(function(){
						if( $(this).attr("name") != "undefined"){
							aoData.push({"name":$(this).attr("name"),"value":$(this).val()});
						}
					});	
			    	layer.load(2);
					$.ajax({
						"dataType":"json",
						"type":"POST",
						"url":sSource,
						"data":aoData,
						"success":fnCallback,
						"error": function( xhr, textStatus, error ) {
							$(".dataTables_processing").hide();
							layer.closeAll('loading');
						    page.handleAjaxError(xhr, textStatus, error);
						}  
					});
			     },
			     fnDrawCallback: function () {
			    	$(".dataTables_length").find("select").each(function(){
			    		//$(this).parent().addClass("select-box");
			    		$(this).addClass("select");
			    	});			    	
			     },
			     fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			    	 $(nRow).find("a[data-type!='']").each(function(){
			    		var _title = $(this).attr("data-title");
			    		var _type = $(this).attr("data-type");
			    		var _href = $(this).attr("data-href");
			    		$(this).removeAttr("data-title");
			    		$(this).removeAttr("data-type");
			    		$(this).removeAttr("data-href");
			    		switch(_type){
			    			case"imgs":
			    				$(this).click(function(){
			    					var userAgentInfo = navigator.userAgent;
			    				    var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];
			    				    var mobile_flag = false;
			    				    //根据userAgent判断是否是手机
			    				    for (var v = 0; v < mobileAgents.length; v++) {
			    				        if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
			    				            mobile_flag = true;
			    				            break;
			    				        }
			    				    }
			    				    if(mobile_flag){
			    				    	location.href = _href;
			    				    }else{			    				    	
				    					table.showImgPage(_title,_href);
			    				    }
			    				});
			    				break;
			    			case"delete":
			    				$(this).click(function(){
			    					layer.confirm('确认要删除吗？', {
			    			            btn : [ '确定', '取消' ]//按钮
			    			        }, function(index) {
			    			            layer.close(index);
				    			        var loadIndex = layer.load(2,{shade: [0.7, '#393D49']}, {shadeClose: true}); //0代表加载的风格，支持0-2
			    			            $.post(_href,function(){			    			            	
				    			            table.fnDraw();
				    			            layer.close(loadIndex);
			    			            });
			    			        }); 
			    				});
			    				break;
			    			case"edit":
								$(this).click(function(){
									table.showOperPage(_title,_href);
			    				});
			    				break;
				    		}
				    	});
			    	 return nRow;
			     }
			});
		}
	});	
	$(function(){
		table = new Table();
		table.init();
	});	
</script>

</div>
</body>
</html>