<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadDataTables(form,table,url)">
<script type="text/javascript" th:src="@{/lib/datatables/1.10.15/jquery.dataTables.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var table;
	$([[${form}]]).submit(function (event) {/* .find("[type='submit']") */
	   event.preventDefault();
	   if(typeof jQuery.data(this, "init") == 'undefined') {
		   table.init();
		   jQuery.data(this, "init",true);
	   }else{
		   table.fnDraw();
	   }
	});	
	function Table(){};
	$.extend(Table.prototype,{
		init:function(){
			this.bindEvents();
		},
		fnDraw:function(){
			$([[${table}]]).dataTable().fnDraw(false);
		},
		bindEvents:function(){
			var _aoColumns = [];
		    $([[${table}]]).find("th[data-mDataProp!='']").each(function(){
		    	var dataJson={};
		    	dataJson['mDataProp']=$(this).attr("data-mDataProp");
		    	_aoColumns.push(dataJson);
		    });
			$([[${table}]]).dataTable({
				"bPaginate" : true,
			    "bStateSave" : false,     
			    "bScrollCollapse" : true,   
			    "bLengthChange" : true,   
			    "bFilter" : false,   
			    "bSort" : false,   
			    "bInfo" : true,   
			    "bAutoWidth" : true,  
			    "bJQueryUI" : false,  
			    "bDestroy" : true,  
			    "bDeferRender": true,
			    "bProcessing": true,
			    "bServerSide": true,
			    "sServerMethod":"POST",
				"sAjaxSource" : [[${url}]],
				//"sDom":"<\"H\">rt<\"F\"ifl>p",
				"sDom":'<"top"iflp<"clear">>rt<"bottom"ilp<"clear">>',
				"aoColumns" : _aoColumns,
			    "oLanguage" : {"sUrl":"/lib/datatables/zh_CN.json"},
			     fnServerData:function(sSource,aoData,fnCallback){
			    	 //<tbody><tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">表中数据为空</td></tr></tbody>
			    	$([[${form}]]).find("[name!='']").each(function(){
						if( $(this).attr("name") != "undefined"){
							aoData.push({"name":$(this).attr("name"),"value":$(this).val()});
						}
					});				
					$.ajax({
						"dataType":"json",
						"type":"POST",
						"url":sSource,
						"data":aoData,
						"success":fnCallback,
						"error": function( xhr, textStatus, error ) {
							$(".dataTables_processing").hide();
						    if(textStatus === 'timeout' ){  
						        alert( 'The server took too long to send the data.' );
						    }else{
						        //alert( 'An error occurred on the server. Please try again in a minute.' );  
						        alert(xhr.responseText);  
						    }
						   // $([[${table}]]).dataTable().fnProcessingIndicator( );  
						}  
					});
			     },
			     fnDrawCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			    	$(".dataTables_length").find("select").each(function(){
			    		//$(this).parent().addClass("select-box");
			    		$(this).addClass("select");
			    	})
			     },
			     fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
			    	//...
			     }
			});
		}
	});	
	$(function(){
		table = new Table();
		
	});	
</script>

</div>
</body>
</html>