@CHARSET "UTF-8";

/*-- START dataTables --*/
div.dataTables_length {padding-top:10px;padding-left:5px;} 
div.dataTables_filter {float: right;} 
div.dataTables_info {float: left;} 
div.dataTables_paginate {float: right;}
table tr td:last-child{text-align: center}
/*-- END dataTables --*/
