<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ring.server.jsoup.mvc.dao.page.PageListMapper">
	<!-- 增加 -->
	<insert id="addList">  
        REPLACE INTO page_list(id,title,author,clickNum,url,fid,yearMonth,target,createDate,ts)  
        VALUES   
        <foreach collection="list" item="emp" separator=",">  
            (#{emp.id},#{emp.title},#{emp.author},#{emp.clickNum},#{emp.url},#{emp.fid},#{emp.yearMonth},#{emp.target},#{emp.createDate},#{emp.ts})  
        </foreach>  
	</insert> 
	
	<select id="findById" resultMap="pageListMap">
		SELECT t.*,t.id as oper FROM page_list t
		WHERE t.id = #{id}
	</select>
	
	<select id="findList" resultType="ring.server.jsoup.mvc.model.page.PageList" resultMap="pageListMap">
		SELECT t.*,t.id as oper FROM page_list t
		WHERE 1 = 1
		<if test=" title != null and title != '' ">
			AND t.title like '%${title}%'
		</if>
		<if test=" fid != null and fid != '' ">
			AND t.fid = #{fid}
		</if>
		ORDER BY t.clickNum DESC
	</select>

	<resultMap type="ring.server.jsoup.mvc.model.page.PageList" id="pageListMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="author" column="author" />
		<result property="createDate" column="createDate" />
		<result property="clickNum" column="clickNum" />
		<result property="url" column="url" />
		<result property="fid" column="fid" />
		<result property="yearMonth" column="yearMonth" />
		<result property="target" column="target" />
		<result property="ts" column="ts" />
	</resultMap>

</mapper>