<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ring.server.jsoup.mvc.dao.page.PageListMapper">
	<!-- 增加 -->
	<insert id="addList">  
        REPLACE INTO page_list_temp(id,title,author,clickNum,url,fid,yearMonth,target,createDate)  
        VALUES   
        <foreach collection="list" item="emp" separator=",">  
            (#{emp.id},#{emp.title},#{emp.author},#{emp.clickNum},#{emp.url},#{emp.fid},#{emp.yearMonth},#{emp.target},#{emp.createDate})  
        </foreach>  
	</insert> 
	<insert id="addTempTable"> 
		DROP TABLE IF EXISTS page_list_temp; 
		CREATE TABLE IF NOT EXISTS page_list_temp LIKE page_list;
	</insert> 
	<update id="addByTempTable">
		INSERT INTO page_list
		SELECT f.* FROM page_list_temp f
		LEFT JOIN page_list t ON f.id = t.id WHERE t.id IS NULL;
	</update> 
	<update id="updateByTempTable">
		UPDATE page_list t
		LEFT JOIN  page_list_temp f
		ON f.id = t.id
		SET t.title=f.title,t.author=f.author,t.clickNum=f.clickNum,t.url=f.url,t.fid=f.fid,t.yearMonth=f.yearMonth,t.createDate=f.createDate
		WHERE t.id IS NOT NULL;
	</update> 

	<!-- 映射 
	<resultMap type="ringbackstage.web.model.log.AdminLog" id="adminLogResultMap">
		<result property="id" column="id" />
		<result property="logType" column="log_type" />
		<result property="uri" column="uri" />
		<result property="reqMethod" column="req_method" />
		<result property="reqParams" column="req_params" />
		<result property="code" column="code" />
		<result property="message" column="message" />
		<result property="errorMsg" column="error_msg" />
		<result property="createIp" column="create_ip" />
		<result property="createDate" column="create_date" />
		<result property="createBy" column="create_by" />
	</resultMap>
	-->
</mapper>