<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ring.server.jsoup.mvc.dao.page.PageDetailMapper">

	<insert id="add" parameterType="ring.server.jsoup.mvc.model.page.PageDetail">
		REPLACE INTO page_detail (id,title,content,images,magnet,torrent,url,source,ts)
		VALUES(#{id},#{title},#{content},#{images},#{magnet},#{torrent},#{url},#{source},#{ts})
	</insert>
	
	<delete id="delete">
		DELETE FROM page_detail WHERE id = #{id} and source = #{source}
	</delete>
	
	<select id="findList" resultType="ring.server.jsoup.mvc.model.page.PageDetail" resultMap="pageDetailMap">
		SELECT f.`author`,f.`createDate`,f.`clickNum`,m.`modelName`,t.* FROM page_detail t
		LEFT JOIN page_list f ON t.`id` = f.`id`
		LEFT JOIN page_model m ON f.`fid` = m.`model`
		WHERE t.source = #{source}
		<if test=" title != null and title != '' ">
			AND t.title like '%${title}%'
		</if>
		<if test=" fid != null and fid != '' ">
			AND f.fid = #{fid}
		</if>
		ORDER BY t.ts DESC
	</select>
	
	<select id="findById" resultMap="pageDetailMap">
		SELECT t.*,t.id as oper FROM page_detail t
		WHERE t.id = #{id} and t.source = #{source}
	</select>

	<!-- 映射  -->
	<resultMap type="ring.server.jsoup.mvc.model.page.PageDetail" id="pageDetailMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="images" column="images" />
		<result property="magnet" column="magnet" />
		<result property="torrent" column="torrent" />
		<result property="source" column="source" />
		<result property="url" column="url" />
		<result property="sort" column="sort" />
		<result property="ts" column="ts" />
	</resultMap>
	
</mapper>