<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ring.server.jsoup.mvc.dao.page.PageListMapper">
	<!-- 增加 -->
	<insert id="addList">  
        REPLACE INTO page_list(id,title,author,clickNum,url,fid,yearMonth,target,createDate,ts,source)  
        VALUES   
        <foreach collection="list" item="emp" separator=",">  
            (#{emp.id},#{emp.title},#{emp.author},#{emp.clickNum},#{emp.url},#{emp.fid},#{emp.yearMonth},#{emp.target},#{emp.createDate},#{emp.ts},#{emp.source})  
        </foreach>  
	</insert> 
	
	<select id="findById" resultMap="pageListMap">
		SELECT t.*,t.id as oper FROM page_list t
		WHERE t.id = #{id} and t.source = #{source}
	</select>
	
	<select id="findList" resultType="ring.server.jsoup.mvc.model.page.PageList" resultMap="pageListMap">
		SELECT t.*,m.`modelName` FROM page_list t
		LEFT JOIN page_model m ON t.`fid` = m.`model`
		WHERE t.`source` = m.`enName`
		<if test=" title != null and title != '' ">
			AND t.title like '%${title}%'
		</if>
		<if test=" fid != null and fid != '' ">
			AND t.fid = #{fid}
		</if>
		ORDER BY t.ts DESC,t.createDate DESC
	</select>

	<resultMap type="ring.server.jsoup.mvc.model.page.PageList" id="pageListMap">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<result property="author" column="author" />
		<result property="createDate" column="createDate" />
		<result property="clickNum" column="clickNum" />
		<result property="url" column="url" />
		<result property="fid" column="fid" />
		<result property="yearMonth" column="yearMonth" />
		<result property="target" column="target" />
		<result property="ts" column="ts" />
	</resultMap>
	
	<select id="findCounts" resultMap="pageLisCountMap">
		SELECT t.fid,m.`enName` as source,m.`modelName` as name,COUNT(1) AS value FROM page_list t 
		LEFT JOIN page_model m ON t.`source` = m.`enName`
		WHERE t.`fid` = m.`model`
		GROUP BY t.fid
		ORDER BY value ASC
	</select>
	
	<resultMap type="ring.server.jsoup.mvc.model.page.PageListCounts" id="pageLisCountMap">
		<result property="fid" column="fid" />
		<result property="source" column="source" />
		<result property="name" column="name" />
		<result property="value" column="value" />
	</resultMap>

</mapper>