<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ring.server.jsoup.mvc.dao.page.PageIndexMapper">
	
	
	<select id="findAll" resultMap="pageIndexMap">
		SELECT * FROM page_index
	</select>
	
	<select id="findList" resultType="ring.server.jsoup.mvc.model.page.PageIndex" resultMap="pageIndexMap">
		SELECT t.* FROM page_index t
		WHERE 1 = 1
		<if test=" enName != null and enName != '' ">
			AND t.enName like '%${enName}%'
		</if>
		<if test=" cnName != null and cnName != '' ">
			AND t.cnName like '%${cnName}%'
		</if>
	</select>
	
	<resultMap type="ring.server.jsoup.mvc.model.page.PageIndex" id="pageIndexMap">
		<result property="enName" column="enName" />
		<result property="domain" column="domain" />
		<result property="cnName" column="cnName" />
	</resultMap>
	
</mapper>