<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common-head :: onloadHead('首页')"></head>
<body>
<div class="sideBox">
	<ul class="nav navbar-nav pt-20">
		<li><a href="about.html">登录/注册</a></li>
		<li><a href="jiansuo.html">技术检索</a></li>
		<li><a href="about.html">关于我们</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">隐私保护</a></li>
		<li><a href="#">免责声明</a></li>
		<li><a href="#">支付方式</a></li>
	</ul>
</div>
<div class="containBox">
    <div class="containBox-bg"></div>
	<div th:replace="/common/common-header :: onloadHeader('/index')"></div>
	<div class="wap-container">
		<nav class="breadcrumb" style="background: #f5f5f5">
			<div class="container">
				<i class="Hui-iconfont">&#xe67f;</i>
				<a th:href="@{/index}" class="c-primary">首页</a>
			</div>
		</nav>
		<div class="container ui-sortable">
			<!-- <h1>Hi，RING</h1> -->
			<!-- <p>开始前端之旅！</p> -->
			<div class="panel panel-default mt-10">
				<div class="panel-header">本地统计</div>
				<div class="panel-body">
					<div class="container-fluid"  style="height:425px;">						
						<div class="row" style="height:100%">
							<div id="bar" class="water col-md-6" style="height:100%;display:block;margin: 0px;padding: 0px;"></div>
							<div id="pie" class="water col-md-6" style="height:100%;display:block;margin: 0px;padding: 0px;"></div>
						</div>		
					</div>
				</div>
			</div>
			<div th:replace="/common/common-footer :: onloadFooter"></div>
		</div>
	</div>
</div>

<div th:insert="/common/common-js :: onloadJS"></div>
<script type="text/javascript" th:src="@{/lib/echarts/4.1.0.rc2/echarts.min.js}"></script>

<script type="text/javascript">
$(function(){
	
	var canvas = page.waterMarkEvent();
	//$("img").attr("src",canvas.toDataURL("image/png"));
	$(".water").css("background-image","url('"+canvas.toDataURL("image/png")+"')");
	//document.getElementById('demo').style.backgroundImage = 'url("' + canvas.toDataURL() + '")';
	
	var barChart = echarts.init(document.getElementById("bar"));
	var peiChart = echarts.init(document.getElementById("pie"));
	
	$.post("page/counts",function(data){		
		page.echartBarEvent(barChart,"排位",data);
		page.echartPieEvent(peiChart,"分布",data);
	});
});
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->