<!DOCTYPE HTML>
<html style="height: 100%" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.min.css" />
<!--[if lt IE 9]>
<link href="h-ui/css/H-ui.ie.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<style type="text/css">
.ui-sortable .panel-header{ cursor:move}
</style>
<title>Hi，H-ui v3.1</title>
<meta name="keywords" content="关键词,5个左右,单个8汉字以内">
<meta name="description" content="网站描述，字数尽量空制在80个汉字，160个字符以内！">
</head>
<body style="height: 100%; margin: 0">
<div class="sideBox">
	<ul class="nav navbar-nav pt-20">
		<li><a href="about.html">登录/注册</a></li>
		<li><a href="jiansuo.html">技术检索</a></li>
		<li><a href="about.html">关于我们</a></li>
		<li><a href="#">联系我们</a></li>
		<li><a href="#">隐私保护</a></li>
		<li><a href="#">免责声明</a></li>
		<li><a href="#">支付方式</a></li>
	</ul>
</div>
<div class="containBox">
    <div class="containBox-bg"></div>
	<div th:replace="/common/common-header :: onloadHeader('/page-list')"></div>
	<div class="wap-container">
		<nav class="breadcrumb" style="background: #f5f5f5">
			<div class="container">
				<i class="Hui-iconfont">&#xe67f;</i>
				<a href="/" class="c-primary">首页</a>
			</div>
		</nav>
		<div class="container">
			<div id="container" style="height:455px"></div>				
		</div>
		<footer class="footer mt-20">
			<div class="container">
				<p>Copyright &copy;2013-2017 H-ui.net All Rights Reserved.</p>
			</div>
		</footer>
	</div>
</div>

<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="lib/jquery-ui/1.9.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="h-ui/js/H-ui.js"></script>
<script type="text/javascript" th:src="@{/lib/echarts/4.1.0.rc2/echarts.min.js}"></script>

<script type="text/javascript">
$(function(){
	//返回顶部
	$.Huitotop();
	var dom = document.getElementById("container");
	var myChart = echarts.init(dom);
	myChart.showLoading();
	$.post("page/counts",function(data){
		
		//var dom = document.getElementById("container");
		//var myChart = echarts.init(dom);
		
		var app = {};
		option = null;
		app.title = '水印 - ECharts 下载统计'

		var downloadJson = {};
		var total=0;
		for(var i=0;i<data.length;i++){
			var sum = data[i]['counts'];
			downloadJson[data[i]['modelName']]=sum;
			total+=sum*1;
		}
		var builderJson = {
		  "all": total,
		  "charts": downloadJson
		};

		var waterMarkText = 'RING';

		var canvas = document.createElement('canvas');
		var ctx = canvas.getContext('2d');
		canvas.width = canvas.height = 100;
		ctx.textAlign = 'center';
		ctx.textBaseline = 'middle';
		ctx.globalAlpha = 0.08;
		ctx.font = '20px Microsoft Yahei';
		ctx.translate(50, 50);
		ctx.rotate(-Math.PI / 4);
		ctx.fillText(waterMarkText, 0, 0);

		option = {
		    backgroundColor: {
		        type: 'pattern',
		        image: canvas,
		        repeat: 'repeat'
		    },
		    tooltip: {},
		    title: [{
		        text: '本地服务区柱状图展示',
		        subtext: '总计 ' + builderJson.all,
		        x: '25%',
		        textAlign: 'center'
		    }, {
		        text: '本地服务区饼状图展示',
		        subtext: '总计 ' + Object.keys(downloadJson).reduce(function (all, key) {
		            return all + downloadJson[key]*1;
		        }, 0),
		        x: '75%',
		        textAlign: 'center'
		    }],
		    grid: [{
		        top: 50,
		        width: '50%',
		        bottom: 20,
		        left: 10,
		        containLabel: true
		    }],
		    xAxis: [{
		        type: 'value',
		        max: builderJson.all,
		        splitLine: {
		            show: false
		        }
		    }],
		    yAxis: [{
		        type: 'category',
		        data: Object.keys(builderJson.charts),
		        axisLabel: {
		            interval: 0,
		            rotate: 30
		        },
		        splitLine: {
		            show: false
		        }
		    }],
		    series: [{
		        type: 'bar',
		        stack: 'chart',
		        z: 3,
		        label: {
		            normal: {
		                position: 'right',
		                show: true
		            }
		        },
		        data: Object.keys(builderJson.charts).map(function (key) {
		            return builderJson.charts[key];
		        })
		    }, {
		        type: 'bar',
		        stack: 'chart',
		        silent: true,
		        itemStyle: {
		            normal: {
		                color: '#eee'
		            }
		        },
		        data: Object.keys(builderJson.charts).map(function (key) {
		            return builderJson.all - builderJson.charts[key];
		        })
		    }, {
		        type: 'pie',
		        radius: [0, '60%'],
		        center: ['75%', '50%'],
		        data: Object.keys(downloadJson).map(function (key) {
		            return {
		                name: key.replace('.js', ''),
		                value: downloadJson[key]
		            }
		        })
		    }]
		};
		if (option && typeof option === "object") {
		    myChart.setOption(option, true);
		}
		
		myChart.hideLoading();
		myChart.on("click",function(param){
			
		});
		
	});
});
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->