<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common-head :: onloadHead('首页')"></head>
<link rel="stylesheet" type="text/css" th:href="@{/ring-ui/css/ring-ui.css}" />
<body>
<div class="sideBox">
	<ul class="nav navbar-nav pt-20">
		<li><a href="/about.html">登录/注册</a></li>
		<li><a href="/jiansuo.html">技术检索</a></li>
		<li><a href="/about.html">关于我们</a></li>
		<li><a href="/#">联系我们</a></li>
		<li><a href="/#">隐私保护</a></li>
		<li><a href="/#">免责声明</a></li>
		<li><a href="/#">支付方式</a></li>
	</ul>
</div>
<div class="containBox">
    <div class="containBox-bg"></div>
	<div th:replace="/common/common-header :: onloadHeader('/page/list')"></div>
	<div class="wap-container">
		<nav class="breadcrumb" style="background: #f5f5f5">
			<div class="container">
				<i class="Hui-iconfont">&#xe67f;</i>
				<a href="//" class="c-primary">首页</a>
				<span class="c-gray en">&gt;</span>
				<a href="/#">列表</a>
			</div>
		</nav>
		<div class="container">
			<div class="text-l mt-20">
				<form id="form_page"  method="POST">
					<span class="select-box" style="width: 120px">
						<select class="select" size="1" id="source" name="source">
							<option value="">选择数据来源</option>
						</select>
					</span>
					<span class="select-box" style="width: 120px">
						<select class="select" size="1" id="fid" name="fid">
							<option value="" selected>选择模块</option>
						</select>
					</span>
					<span class="select-box" style="width: 120px">
						<select class="select" size="1" id="server" name="server">
							<option value="1" selected>本地数据服务器</option>
							<option value="2">来源数据服务器</option>
						</select>
					</span>
					<input type="text" name="title" placeholder=" 输入标题模糊查询" style="width:250px" class="input-text">
					<button class="btn btn-success"  type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索列表</button>
				</form>
			</div>
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th data-mDataProp="title" width="30%">标题</th>
							<th data-mDataProp="author" width="10%">作者</th>
							<th data-mDataProp="createDate" width="8%">发布日期</th>
							<th data-mDataProp="clickNum" width="6%">点击量</th>
							<th data-mDataProp="modelName" width="10%">模块</th>
							<th data-mDataProp="url" width="18%">访问地址</th>
							<th data-mDataProp="ts" width="7%">批次日期</th>
							<th data-mDataProp="oper" >操作</th>
						</tr>
					</thead>
				</table>
			</div>				
		</div>
		<div th:replace="/common/common-footer :: onloadFooter"></div>
	</div>
</div>
<div th:replace="/common/common-js :: onloadJS"></div>
<div th:replace="/common/common-dataTables :: onloadDataTables('#form_page','.table-sort','list')"></div>
<script type="text/javascript" th:inline="javascript" 
 th:with="source=${#httpServletRequest.getParameter('source')},fid=${#httpServletRequest.getParameter('fid')},server=${#httpServletRequest.getParameter('server')}">
$(document).ready(function(){
	page.ajaxLoadSelectEvent({
		select:"#source",
		url:/*[[@{/index/change}]]*/,
		def:{"key":"","value":"选择数据来源"},
		map:{"key":"enName","value":"cnName"},
		events:function(option){
			$(option.select).bind("change",function(){
				page.ajaxLoadSelectEvent({
					select:"#fid",
					url:/*[[@{/model/change}]]*/,
					def:{"key":"","value":"选择模块"},
					map:{"key":"model","value":"modelName"},
					attrs:[{"key":"data-url","value":"modelUrl"}],
					data:{"source":$("#source").val()},
					selected:[[${fid}]],
					events:function(option){
						if($("#source").val() != ''){							
							$("#form_page").find("[type='submit']").click();
						}
					}
				});
			}).val([[${source}]]).change();
		}
	});
	$("#server").val([[${server}]]);
});
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2017-01-01 -->