<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/common-head :: onloadHead('浏览过的页面')"></head>
<link rel="stylesheet" type="text/css" th:href="@{/ring-ui/css/ring-ui.css}" />
<body>

<header  th:replace="/common/common-header :: onloadHeader('/detail/list')"></header>

<nav class="breadcrumb">
	<div class="container">
		<i class="Hui-iconfont">&#xe67f;</i>
		<a class="c-primary">首页</a>
		<span class="c-gray en">&gt;</span>
		<a>浏览过的页面</a>
	</div>
</nav>

<div class="wap-container">
	<div class="container">
		<div class="row clearfix cases-list clearfix mt-10">
			<form id="form_page"  method="POST" >
			<div class="item col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-5">
				<span class="select-box">
					<select class="select" size="1" id="source" name="source">
						<option value="">选择数据来源</option>
					</select>
				</span>
			</div>
			<div class="item col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-5">
				<span class="select-box">
					<select class="select" size="1" id="fid" name="fid">
						<option value="" selected>选择模块</option>
					</select>
				</span>
			</div>
			<div class="item col-xs-12 col-sm-6 col-md-4 col-lg-2 mb-5">
				<input type="text" name="title" placeholder=" 输入标题模糊查询" class="input-text">
			</div>
			<div class="item col-xs-12 col-sm-6 col-md-4 col-lg-1 mb-5">
				<button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索列表</button>
			</div>
			</form>
		</div>
		<div class="row clearfix cases-list clearfix mb-10">
			<div class="item col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<table class="table table-border table-bordered table-bg table-hover table-sort" style="width:100%">
					<thead>
						<tr class="text-c">
							<th data-mDataProp="title" width="34%">标题</th>
							<th data-mDataProp="author" width="8%">作者</th>
							<th data-mDataProp="createDate" width="8%">发布日期</th>
							<th data-mDataProp="clickNum" width="5%">点击量</th>
							<th data-mDataProp="modelName" width="8%">模块</th>
							<th data-mDataProp="url" width="18%">访问地址</th>
							<th data-mDataProp="ts" width="13%">浏览日期</th>
							<th data-mDataProp="oper"  width="6%">操作</th>
						</tr>
					</thead>
					<tbody><tr class="odd"><td valign="top" colspan="8" class="dataTables_empty">表中数据为空</td></tr></tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<footer th:replace="/common/common-footer :: onloadFooter"></footer>

<div th:replace="/common/common-js :: onloadJS"></div>
<script type="text/javascript" th:inline="javascript" 
 th:with="source=${#httpServletRequest.getParameter('source')},fid=${#httpServletRequest.getParameter('fid')},server=${#httpServletRequest.getParameter('server')}">
$(document).ready(function(){
	page.ajaxLoadSelectEvent({
		select:"#source",
		url:/*[[@{/index/change}]]*/,
		def:{"key":"","value":"选择数据来源"},
		map:{"key":"enName","value":"cnName"},
		events:function(option){
			var _source = [[${source}]];
			if(_source == null || _source == "undefined"){
				_source = "T66Y";
			}
			$(option.select).bind("change",function(){
				page.ajaxLoadSelectEvent({
					select:"#fid",
					url:/*[[@{/model/change}]]*/,
					def:{"key":"","value":"选择模块"},
					map:{"key":"model","value":"modelName"},
					attrs:[{"key":"data-url","value":"modelUrl"}],
					data:{"source":$("#source").val()},
					selected:[[${fid}]],
					events:function(option){
						/* if([[${source}]] != ''){							
							$("#form_page").find("[type='submit']").click();
						} */
					}
				});
			}).val(_source).change();
		}
	});
	$("#server").val([[${server}]]);
});
</script>
<div th:replace="/common/common-dataTables :: onloadDataTables('#form_page','.table-sort','list')"></div>

</body>
</html>